In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

In [2]:
qsp=pd.read_csv('BTR QSp1 data.csv')
qsp.head()

,Nid,Name,Gender,Date of Birth,Fresher/Experience,10th Board,10th Aggregate,10th Year of Pass out,12th Board,12th Course Type,...,Did You Fail and then clear the subject in Master Degree,Have any existing backlogs in Degree?,Have any existing backlogs in Master's Degree?,Have you got year gap in Degree?,Have you got year gap in Master Degree?,Batch,nid_incubation,Payment Print/Display,Payment comments,Post date
0,108714,M S Ramasubramanya,male,11/05/1993,Fresher,SSLC,50.00,2009.0,Diploma,NaN,...,NaN,no,NaN,no,NaN,NaN,NaN,NaN,NaN,01/01/2018
1,108715,Satya prakash sahoo,male,26/06/1991,Fresher,SSLC,72.00,2006.0,PUC/ 12th,Regular,...,no,no,no,no,no,QCDM2,NaN,NaN,NaN,01/01/2018
2,108727,Shabareesh Kumar R,male,09/01/1991,Fresher,SSLC,84.32,2006.0,PUC/ 12th,Regular,...,NaN,no,NaN,no,NaN,"QSSW2,QPEW1",NaN,"11900 - 07-01-2018, 2300 - 11-02-2018",(201802QSP0098) Shabareesh Kumar R with ID:108...,02/01/2018
3,108729,Monima Gogoi,female,21/01/1986,Fresher,SSLC,80.00,2002.0,PUC/ 12th,Regular,...,no,no,no,no,no,"QCSA2,QSCW1",NaN,11900 - 20-01-2018,(201801QSP0379) Monima Gogoi with ID:108729 ha...,02/01/2018
4,108733,Mohit Singh Chauhan,male,30/07/1995,Fresher,SSLC,84.00,2011.0,PUC/ 12th,Regular,...,NaN,no,NaN,no,NaN,"QTGW1,QCCE2",NaN,"22950 - 09-01-2018, Target for Apti is 0/-",(201801QSP0264) Mohit Singh Chauhan with ID:10...,02/01/2018

In [3]:
qsp.columns

Index(['Nid', 'Name', 'Gender', 'Date of Birth', 'Fresher/Experience',
       '10th Board', '10th Aggregate', '10th Year of Pass out', '12th Board',
       '12th Course Type', '12th/Diploma/ITI Year of Pass out',
       '12th/Diploma/ITI-Aggregate', 'Diploma Course Type', 'Diploma College',
       'Other(Diploma College)', 'Diploma Stream', 'Other(Diploma Stream)',
       'Diploma University', 'Other(Diploma University)', 'Degree',
       'Degree Course Type', 'Degree Year of Pass out', 'Degree College Name',
       'Other(Degree College)', 'Degree University',
       'Degree University Registration No', 'Degree Aggregate',
       'Stream in Degree', 'Other(Degree Stream)',
       'Have you done your Master's Degree?', 'Master's Degree',
       'Master's Degree Course Type', 'Other(Master's degree)',
       'Master's Degree Year of Pass out', 'Master Degree Aggregate',
       'Master Degree College Name', 'Other(Master's College)',
       'Master's Degree Stream', 'Other(Master's Stream)',
       'Master's Degree University',
       'Master's Degree University Registration No', 'Branch Enquired',
       'Certifications', 'Course(s)', 'Do You Have Pan Card?',
       'Do You Have Passport?', 'Other(certifications)', 'Ready to Relocate',
       'Already Resigned', 'Currently Are You Working',
       'Do You Have Past Work Experience?', 'Highest Degree',
       'How Many Months of Gap You Have?', 'Looking For a Job Change',
       'Notice Period', 'Other(Highest Degree)',
       'Current/ Previous Company Name', 'Current/ Previous CTC',
       'Current/ Previous Job Profiles', 'Balance_Fees',
       'Other(Degree University)', 'Other(Degree)',
       'Other(Master's University)', 'Other(preferred location)',
       'Target_fees', 'Preferred Location', 'Photo', 'UID',
       'Do You Have Aadhar Card?', 'Native', 'State', 'City',
       'Did You Fail and then clear the subject in Degree',
       'Did You Fail and then clear the subject in Master Degree',
       'Have any existing backlogs in Degree?',
       'Have any existing backlogs in Master's Degree?',
       'Have you got year gap in Degree?',
       'Have you got year gap in Master Degree?', 'Batch', 'nid_incubation',
       'Payment Print/Display', 'Payment comments', 'Post date'],
      dtype='object')

In [4]:
qsp.isnull().sum()/len(qsp)*100

Nid                        0.000000
Name                       0.000000
Gender                     0.000000
Date of Birth              0.000000
Fresher/Experience         0.000000
                            ...
Batch                      2.200550
nid_incubation           100.000000
Payment Print/Display     12.178045
Payment comments          20.855214
Post date                  0.000000
Length: 83, dtype: float64

In [5]:
qsp.drop('Nid',axis=1,inplace=True)

In [6]:
qsp.drop_duplicates(inplace=True)

In [7]:
mas=qsp[qsp["Have you done your Master's Degree?"]=='yes']

In [8]:
dict(round(100*mas.isnull().sum()/len(mas),2))

{'Name': 0.0,
 'Gender': 0.0,
 'Date of Birth': 0.0,
 'Fresher/Experience': 0.0,
 '10th Board': 0.0,
 '10th Aggregate': 0.0,
 '10th Year of Pass out': 0.0,
 '12th Board': 0.0,
 '12th Course Type': 2.73,
 '12th/Diploma/ITI Year of Pass out': 0.27,
 '12th/Diploma/ITI-Aggregate': 0.55,
 'Diploma Course Type': 96.72,
 'Diploma College': 96.72,
 'Other(Diploma College)': 96.72,
 'Diploma Stream': 96.72,
 'Other(Diploma Stream)': 99.45,
 'Diploma University': 97.27,
 'Other(Diploma University)': 97.27,
 'Degree': 0.27,
 'Degree Course Type': 0.27,
 'Degree Year of Pass out': 0.27,
 'Degree College Name': 0.55,
 'Other(Degree College)': 35.79,
 'Degree University': 0.27,
 'Degree University Registration No': 0.55,
 'Degree Aggregate': 0.55,
 'Stream in Degree': 0.27,
 'Other(Degree Stream)': 95.36,
 "Have you done your Master's Degree?": 0.0,
 "Master's Degree": 0.0,
 "Master's Degree Course Type": 0.0,
 "Other(Master's degree)": 99.73,
 "Master's Degree Year of Pass out": 0.0,
 'Master Degree Aggregate': 0.27,
 'Master Degree College Name': 0.55,
 "Other(Master's College)": 7.65,
 "Master's Degree Stream": 0.0,
 "Other(Master's Stream)": 78.14,
 "Master's Degree University": 0.27,
 "Master's Degree University Registration No": 0.27,
 'Branch Enquired': 0.0,
 'Certifications': 99.45,
 'Course(s)': 0.0,
 'Do You Have Pan Card?': 0.27,
 'Do You Have Passport?': 0.0,
 'Other(certifications)': 100.0,
 'Ready to Relocate': 0.0,
 'Already Resigned': 96.72,
 'Currently Are You Working': 96.99,
 'Do You Have Past Work Experience?': 93.72,
 'Highest Degree': 93.72,
 'How Many Months of Gap You Have?': 98.36,
 'Looking For a Job Change': 96.72,
 'Notice Period': 0.27,
 'Other(Highest Degree)': 99.73,
 'Current/ Previous Company Name': 96.72,
 'Current/ Previous CTC': 96.99,
 'Current/ Previous Job Profiles': 96.72,
 'Balance_Fees': 0.0,
 'Other(Degree University)': 76.5,
 'Other(Degree)': 98.36,
 "Other(Master's University)": 63.66,
 'Other(preferred location)': 99.73,
 'Target_fees': 0.27,
 'Preferred Location': 2.19,
 'Photo': 0.0,
 'UID': 0.0,
 'Do You Have Aadhar Card?': 0.27,
 'Native': 93.44,
 'State': 0.0,
 'City': 0.0,
 'Did You Fail and then clear the subject in Degree': 0.55,
 'Did You Fail and then clear the subject in Master Degree': 0.82,
 'Have any existing backlogs in Degree?': 0.55,
 "Have any existing backlogs in Master's Degree?": 0.82,
 'Have you got year gap in Degree?': 0.55,
 'Have you got year gap in Master Degree?': 0.82,
 'Batch': 3.01,
 'nid_incubation': 100.0,
 'Payment Print/Display': 14.21,
 'Payment comments': 15.57,
 'Post date': 0.0}

In [9]:
mas.shape

(366, 82)

In [10]:
cur_work=qsp[qsp['Currently Are You Working']=='yes']

In [11]:
dict(round(100*cur_work.isnull().sum()/len(cur_work)))

{'Name': 0.0,
 'Gender': 0.0,
 'Date of Birth': 0.0,
 'Fresher/Experience': 0.0,
 '10th Board': 84.0,
 '10th Aggregate': 88.0,
 '10th Year of Pass out': 85.0,
 '12th Board': 88.0,
 '12th Course Type': 91.0,
 '12th/Diploma/ITI Year of Pass out': 88.0,
 '12th/Diploma/ITI-Aggregate': 89.0,
 'Diploma Course Type': 97.0,
 'Diploma College': 97.0,
 'Other(Diploma College)': 98.0,
 'Diploma Stream': 97.0,
 'Other(Diploma Stream)': 100.0,
 'Diploma University': 98.0,
 'Other(Diploma University)': 98.0,
 'Degree': 87.0,
 'Degree Course Type': 89.0,
 'Degree Year of Pass out': 87.0,
 'Degree College Name': 88.0,
 'Other(Degree College)': 94.0,
 'Degree University': 89.0,
 'Degree University Registration No': 89.0,
 'Degree Aggregate': 90.0,
 'Stream in Degree': 87.0,
 'Other(Degree Stream)': 99.0,
 "Have you done your Master's Degree?": 88.0,
 "Master's Degree": 98.0,
 "Master's Degree Course Type": 97.0,
 "Other(Master's degree)": 100.0,
 "Master's Degree Year of Pass out": 98.0,
 'Master Degree Aggregate': 98.0,
 'Master Degree College Name': 98.0,
 "Other(Master's College)": 98.0,
 "Master's Degree Stream": 98.0,
 "Other(Master's Stream)": 100.0,
 "Master's Degree University": 98.0,
 "Master's Degree University Registration No": 98.0,
 'Branch Enquired': 0.0,
 'Certifications': 98.0,
 'Course(s)': 0.0,
 'Do You Have Pan Card?': 88.0,
 'Do You Have Passport?': 0.0,
 'Other(certifications)': 100.0,
 'Ready to Relocate': 0.0,
 'Already Resigned': 0.0,
 'Currently Are You Working': 0.0,
 'Do You Have Past Work Experience?': 0.0,
 'Highest Degree': 0.0,
 'How Many Months of Gap You Have?': 100.0,
 'Looking For a Job Change': 0.0,
 'Notice Period': 0.0,
 'Other(Highest Degree)': 99.0,
 'Current/ Previous Company Name': 2.0,
 'Current/ Previous CTC': 10.0,
 'Current/ Previous Job Profiles': 1.0,
 'Balance_Fees': 0.0,
 'Other(Degree University)': 98.0,
 'Other(Degree)': 100.0,
 "Other(Master's University)": 99.0,
 'Other(preferred location)': 100.0,
 'Target_fees': 0.0,
 'Preferred Location': 2.0,
 'Photo': 0.0,
 'UID': 0.0,
 'Do You Have Aadhar Card?': 88.0,
 'Native': 0.0,
 'State': 0.0,
 'City': 0.0,
 'Did You Fail and then clear the subject in Degree': 89.0,
 'Did You Fail and then clear the subject in Master Degree': 98.0,
 'Have any existing backlogs in Degree?': 89.0,
 "Have any existing backlogs in Master's Degree?": 98.0,
 'Have you got year gap in Degree?': 89.0,
 'Have you got year gap in Master Degree?': 98.0,
 'Batch': 4.0,
 'nid_incubation': 100.0,
 'Payment Print/Display': 16.0,
 'Payment comments': 16.0,
 'Post date': 0.0}

In [12]:
pay=qsp[['Payment Print/Display','Target_fees','Balance_Fees']]
pay['Payment Print/Display'].value_counts()

Incubation student 2018                                           249
Campus training 2018, paid 7000, for Java,Manual,SQL (CBIT)        18
11900 - 08-09-2018                                                 17
Campus training 2018, paid 11000/-, for Java,Manual,SQL (BITM)     12
11900 - 04-08-2018                                                 12
                                                                 ...
11900 - 15-02-2018                                                  1
20950 - 11-06-2018, 1090 - 11-06-2018                               1
6000 - 26-11-2017, 5900 - 06-01-2018                                1
13000 - 19-09-2018                                                  1
22950 - 20-01-2018, 2300 - 24-01-2018                               1
Name: Payment Print/Display, Length: 2682, dtype: int64

In [13]:
P_list=pay['Payment Print/Display'].apply(lambda x:pd.Series(str(x).split(',')))

In [47]:
P_list

,0,1,2,3,4,5,6,7
0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11900 - 07-01-2018,2300 - 11-02-2018,NaN,NaN,NaN,NaN,NaN,NaN
3,11900 - 20-01-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22950 - 09-01-2018,Target for Apti is 0/-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3994,22950 - 14-01-2019,1090 - 14-01-2019,400 - 27-02-2019,NaN,NaN,NaN,NaN,NaN
3995,8100 - 24-01-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,9000 - 16-01-2019,4000 - 16-01-2019,10950 - 29-01-2019,1090 - 04-02-2019,NaN,NaN,NaN,NaN
3997,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,1850 - 18-07-2019,17950 - 19-07-2019,Target for C.S is 17950/-,NaN,NaN,NaN,NaN,NaN

In [50]:
a = pd.DataFrame()
for col in P_list.columns:
    a = pd.concat([a,P_list[col].apply(lambda x: pd.Series(str(x).split('-',1)))])

In [51]:
a

           0            1
0        nan          NaN
1        nan          NaN
2     11900    07-01-2018
3     11900    20-01-2018
4     22950    09-01-2018
...      ...          ...
3994     nan          NaN
3995     nan          NaN
3996     nan          NaN
3997     nan          NaN
3998     nan          NaN

[31048 rows x 2 columns]

In [ ]:
qsp1=qsp.copy()
qsp2=qsp.copy()
qsp3=qsp.copy()
qsp4=qsp.copy()

In [ ]:
qsp1[['Course(s)','Target_fees','Balance_Fees','Highest Degree']].sort_values('Target_fees',ascending=False)

In [ ]:
li4=list(qsp4['City'].unique())
li5=[]
for i5 in li4:
    if i5.lower().strip().split('-')[0]=='bangalore':
        li5.append(i5)
len(li5)

In [ ]:
qsp4['City'].replace(to_replace=li5,value='Bangalore',inplace=True)
qsp4['City'].replace(to_replace=['Banglore','Bangalore ','Bangalore 560098','Bangalore`','Bangalore 560010','Bangalore   560079','Bangalore 560076','Bangalore 560097','BASAVANAGUDI 560004','Bangalore 560073','Banglaore','BANGALORE -560097','Bangalore 562123','BANGALORE..','Bangalore  560072','Bangalore 560085','Bangalore  -560054','Bangalore 560022',' Bangalore  560058','Bangalore 580086','Bangalore 560020','BANGLORE','BANGALORE - 560098','Bangalore , 560079','Bangalroe560040','Bangalore 560058','Bangalore 560094'],value='Bangalore',inplace=True)
dict(qsp4['City'].value_counts())

In [ ]:
qsp4['City']=qsp4['City'].apply(lambda row:'Local' if row=='Bangalore' else 'Not Local')

In [ ]:
qsp1.drop_duplicates('Course(s)',inplace=True)

In [ ]:
qsp1['Course(s)']

In [ ]:
qsp2["Master's Degree"].replace(to_replace=np.nan,value='Degree',inplace=True)
qsp2["Master's Degree"].replace(to_replace=['MCA','M.Tech','MSC','MBA'],value="Master's",inplace=True)

In [ ]:
dic1={}
dic2={}
dic3={}
dic4={}
dic5={}
dic6={}
dic7={}
per=[]
for co in list(qsp1['Course(s)']):
    dic1.setdefault(co,qsp[qsp['Course(s)']==co]['Balance_Fees'].sum())
    dic5.setdefault(co,qsp[qsp['Course(s)']==co]['Target_fees'].sum())
    per.append(round(100*qsp[qsp['Course(s)']==co]['Balance_Fees'].sum()/qsp[qsp['Course(s)']==co]['Target_fees'].sum(),2))
    dic2.setdefault(co,qsp[qsp['Course(s)']==co].count()[0])
    dic3.setdefault(co,qsp2[(qsp2['Course(s)']==co) & (qsp2["Master's Degree"]=="Master's")].count()[0])
    dic4.setdefault(co,qsp2[(qsp2['Course(s)']==co) & (qsp2["Master's Degree"]=="Degree")].count()[0])
    dic6.setdefault(co,qsp4[(qsp4['Course(s)']==co) & (qsp4["City"]=="Local")].count()[0])
    dic7.setdefault(co,qsp4[(qsp4['Course(s)']==co) & (qsp4["City"]=="Not Local")].count()[0])

In [ ]:
qsp[qsp['Course(s)']=='Classic Selenium'].count()[0]

In [ ]:
cou={'Courses':list(dic1.keys()),'Counts':list(dic2.values()),'Target_fees':list(qsp1['Target_fees']),'Total_Amount':list(dic5.values()),'Balance_Amount':list(dic1.values()),'Balance_in_per':list(per),'Degree':list(dic3.values()),"Master's":list(dic4.values()),'Local Students':list(dic6.values()),'Non-Local Students':list(dic7.values())}

In [ ]:
Course=pd.DataFrame(data=cou)

In [ ]:
pd.set_option('display.max_rows',None)
Course.sort_values('Counts',ascending=False)

In [ ]:
qsp3['Payment comments'].replace(to_replace=np.nan,value='Only attended demo class',inplace=True)

In [ ]:
qsp3['Payment comments'].value_counts()

In [ ]:
qsp3.drop_duplicates(inplace=True)

In [ ]:
qsp3['Payment Print/Display'].value_counts()

In [ ]:
Course['Total_Amount'].sum()

In [ ]:
# l4=['d1','d2','d3','d4','d5','d6','d7','d8']
# ne={'1st Pay':'Date','2st Pay':'Date','3st Pay':'Date','4st Pay':'Date','5st Pay':'Date','6st Pay':'Date','7st Pay':'Date','8st Pay':'Date'}
# l1=[]
# l2=[]
# l3=list(P_list.columns)

In [ ]:
# k=0
# j=0
# for co1 in list(P_list.columns):
#     for i in range(0,3881):
#         if len(str(P_list[co1].values[i]).split('-',1))<2:
#             l1.append(0)
#             l2.append(0)
#         else:
#             l1.append(str(P_list[co1].values[i]).split('-',1)[0])
#             l2.append(str(P_list[co1].values[i]).split('-',1)[1])
#         dat={list(ne.keys())[j]:l1,list(ne.values())[j]:l2}
#         exec("{}=pd.DataFrame(data=dat)".format(l4[k]))
#     j+=1
#     k+=1

In [ ]:
dic={}
for i in P_list.columns:
    dic.setdefault(i,P_list[i])

In [ ]:
l4=['d1','d2','d3','d4','d5','d6','d7','d8']
ne={'1st Pay':'Date','2st Pay':'Date','3st Pay':'Date','4st Pay':'Date','5st Pay':'Date','6st Pay':'Date','7st Pay':'Date','8st Pay':'Date'}
l1=[]
l2=[]
l3=list(P_list.columns)

In [ ]:
# dic1={}
# dic2={}
# for co1 in P_list.columns:
#     for i in range(0,3881):
#         if len(str(P_list[co1].values[i]).split('-',1))<2:
#             dic1.setdefault(co1,0)
#             dic2.setdefault(co1,0)
#         else:
#             dic1.setdefault(co1,P_list[co1].apply(lambda x:pd.Series(str(x).split('-',1)[0])))
#             dic2.setdefault(co1,P_list[co1].apply(lambda x:pd.Series(str(x).split('-',1)[1])))

In [ ]:
# n=3
# for i in range(1,n+1):
#     print(i,end='')

In [ ]:
# def solution(A):
#     # write your code in Python 3.6
#     A.sort()
#     b=max(A)
#     if b<0:
#         return(1)
#     else:
#         for i in range(len(A)-1):
#             if A[i+1]-A[i]>1:
#                 return i+1
#         else:
#             return b+1

In [ ]:
# A = [-1,-2]
# print(solution(A))

In [ ]:
# max(A)

In [ ]:
# A.sort()

In [ ]:
# A

In [ ]:
# a=[1,4,-1,3,2]
# temp=0
# temp=a[0]
# a[0]=a[2]
# a[2]=a[4]
# a[4]=a[1]
# a[1]=temp

In [ ]:
# if len(str(list(dic[0])).split('-',1))==2:
#     l1.append(str(list(dic[0])).split('-',1)[0])
#     l2.append(str(list(dic[0])).split('-',1)[1])

In [ ]:
# A=[1,4,-1,3,2]
# def solution(A):
#     for i in range(len(A)):
#         for j in range(1,len(A)):
#             if A[i]>A[j]:
#                 temp=A[j]
#                 A[j]=A[i]
#                 A[i]=temp

In [ ]:
# print(solution(A))

In [ ]:
# for i in range(len(A)):
#         for j in range(i + 1, len(A)):
#             if A[i] > A[j]:
#                 A[i], A[j] = A[j], A[i]

In [ ]:
# def cou(m,A):
#     n=len(A)
#     for i in A:
#         if A.count(i)==m:
#             print(i)
#             break

In [ ]:
# A=[1,2,3,3,1,3,1,2]

In [ ]:
# def con(M, A):
#     N = len(A)
#     count = [0] * (M + 1)
#     maxOccurence = 1
#     index = -1
#     for i in range(N):
#         if count[A[i]] > 0:
#             tmp = count[A[i]]
#             if tmp > maxOccurence:
#                 maxOccurence = tmp
#                 index = i
#             count[A[i]] = tmp + 1
#         else:
#             count[A[i]] = 1
#     return A[index]

In [ ]:
# con(3,A)

In [ ]:
# M=3
# count = [0] * (M + 1)

In [ ]:
# count[A[5]]>0

In [ ]:
# B=[3,5,6,3,3,5]
# def solution(B):
#     count = 0
#     for i in range(len(A)):
#         for j in range(i + 1, len(A)):
#             if A[i]==A[j]:
#                 count+=1
#     return count

In [ ]:
# print(solution(B))

In [ ]:
Course

In [ ]:
cou=dict(Course[['Courses','Counts']].sort_values('Counts',ascending=False).head(20))

In [ ]:
plt.figure(figsize=(7,7))
sns.barplot(x=list(list(cou.values())[1]),y=list(list(cou.values())[0]))
plt.xlabel('Count')
plt.ylabel('Courses')
plt.title('Top 20 Packages')
plt.show()

In [ ]:
cou1=dict(Course[['Courses','Target_fees']].sort_values('Target_fees',ascending=False).head(20))
plt.figure(figsize=(10,10))
sns.barplot(x=list(list(cou1.values())[1]),y=list(list(cou1.values())[0]))
plt.xlabel('Target Fees')
plt.ylabel('Courses')
plt.title('Top 20 Courses in Target Fees')
plt.show()

In [ ]:
cou2=dict(Course[['Courses','Balance_Amount']].sort_values('Balance_Amount',ascending=False).head(20))
plt.figure(figsize=(10,10))
sns.barplot(x=list(list(cou2.values())[1]),y=list(list(cou2.values())[0]))
plt.xlabel('Balance Fees')
plt.ylabel('Courses')
plt.title('Top 20 Courses in Balance Fees')
plt.show()

In [ ]:
def p(a):
    if a<=0:
        return 'No Balance'
    elif a>0 and a<=50:
        return 'Having <50%'
    elif a>50 and a<100:
        return 'Having >50%'
    elif a==100:
        return 'Not Paied'

Course['Bal_cat']=Course['Balance_in_per'].apply(lambda x:p(x))

In [ ]:
cou3=dict(Course['Bal_cat'].value_counts())

In [ ]:
import plotly.graph_objects as go
labels = list(cou3.keys())
values = list(cou3.values())

# Use `hole` to create a donut-like pie chart
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.4,text=list(cou3.keys()))])
fig.show()

In [ ]:
lo=Course[['Courses','Local Students','Non-Local Students','Counts']].sort_values('Counts',ascending=False).head(20)

In [ ]:
lo1=list(lo['Courses'])
lo2=list(lo['Local Students'])
lo3=list(lo['Non-Local Students'])
lo4=list(lo['Counts'])

In [ ]:
lo

In [ ]:
import plotly.graph_objects as go



fig = go.Figure()
fig.add_trace(go.Bar(
    x=lo1,
    y=lo4,
    name='Count',
    marker_color='indianred'
))
fig.add_trace(go.Bar(
    x=lo1,
    y=lo2,
    name='Local Students',
    marker_color='lightsalmon'
))
fig.add_trace(go.Bar(
    x=lo1,
    y=lo3,
    name='Non Local Students',
    marker_color='lightseagreen'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
fig.show()

In [ ]:
import plotly.graph_objects as go


fig = go.Figure(go.Bar(x=lo1, y=lo4, name='Local Students'))
fig.add_trace(go.Bar(x=lo1, y=lo3, name='Non Local Students'))

fig.update_layout(barmode='relative',height=1000,width=1150)
fig.show()

In [ ]:
# def count(a):
#     b=str(a)
#     c=len(b)
#     d={}
#     for i in range(c):
#         cou=0
#         for j in range(1,c):
#             if b[i]!=b[j]:
#                 cou+=1
#                 return d.setdefault(cou,i)
#             elif b[i]==b[j]:
#                 cou+=1
#             return d.setdefault(cou,i)
# count(1222311)