In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
init_notebook_mode(connected=True)
cf.go_offline()

In [2]:
li=['jan1','jan2','jan3']
li1=['Final List','Count','Duplicate  Do not consider ']
a=0
for i in range(3):
    exec("{}=pd.read_excel('January 2019.xlsx',sheet_name='{}')".format(li[a],li1[a]))
    a+=1

In [3]:
li2=['feb1','feb2','feb3']
li3=['Final List','Donot consider ',' BRANCH COUNT']
b=0
for j in range(3):
    exec("{}=pd.read_excel('February Closure 2019.xlsx',sheet_name='{}')".format(li2[b],li3[b]))
    b+=1

In [4]:
li4=['apr1','apr2','apr3','apr4','apr5']
li5=['Final List','BD HRC Count','Added in March','Added in Feb','Added in December ']
c=0
for j in range(5):
    exec("{}=pd.read_excel('April  2019.xlsx',sheet_name='{}')".format(li4[c],li5[c]))
    c+=1

In [5]:
li6=['mar1','mar2','mar3','mar4']
li7=['Final List','Added in December closure','Added in Feb closure list ','BD HRC COUNT']
d=0
for k in range(4):
    exec("{}=pd.read_excel('March 2019.xlsx',sheet_name='{}')".format(li6[d],li7[d]))
    d+=1

In [6]:
j1_qsp=jan1[jan1['Branch ']=='BTR QSP']
j1_qsp.shape

(89, 17)

In [7]:
j2_qsp=jan3[jan3['Branch ']=='BTR QSP']
j2_qsp.shape

(3, 17)

In [8]:
j_qsp=j1_qsp.append(j2_qsp,ignore_index=True)

In [9]:
j_qsp.shape

(92, 17)

In [10]:
j_qsp

,SL No,Company Name,Location,Branch,Skill,DOJ,Name,Contact No,Email ID,Degree,Stream,YOP,10th,12th,Deg %,Masters,Status
0,1,Aavana,Bangalore,BTR QSP,Testing,2019-01-29,Geetanjali Munagekar,9945769452,geetanjaligmunagekar@gmail.com,BE,ECE,2018.0,84.8,56.66,70,NaN,NaN
1,14,Aeries Technology Group,Bangalore,BTR QSP,Testing,2019-01-21,Sushmitha N C,8861403211,csushmitha1494@gmail.com,BE,ECE,2016.0,92.32,71.33,72.08,NaN,NaN
2,22,Agile Point,Bangalore,BTR QSP,Testing,2019-01-02,Mahalakshmi C M,8147687499,cmmahalakshmi03@gmail.com,BE,EEE,2018.0,85.44,77.00,65,NaN,NaN
3,30,Aravind Internet,Bangalore,BTR QSP,Testing,2019-01-28,Sushmita P Govekar,9480492408,sushmita96govekar@gmail.com,BE,ECE,2018.0,84.6,69.80,70.8,NaN,NaN
4,125,Cigniti,Bangalore,BTR QSP,Testing,2019-01-04,Aishwaraya,9481517664,aishuangadi28@gmail.com,BE,ECE,2018.0,84.6,82.50,76.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,640,Unilog,Bangalore,BTR QSP,Testing,2019-01-03,Ravi Chandra M,8553979448,ravim.gowda.79@gmail.com,BE,CSE,2018.0,75,65.00,60,NaN,NaN
88,641,Unilog,Bangalore,BTR QSP,Testing,2019-01-03,Rajith M D,8971539498,rajithmd36@gmail.com,BE,CSE,2018.0,66.8,72.00,65.75,NaN,NaN
89,1,Aeries Technology Group,Bangalore,BTR QSP,Testing,2019-01-21,Chaithra,8884859580,chetuchaya123@gmail.com,Mtech,EEE,2018.0,85,53.00,58,64.0,Added in Sep
90,10,Sonata Software,Bangalore,BTR QSP,Generic,2019-01-03,Balakrishna B,8105630834,balakrishnab845@gmail.com,BE,CSE,2018.0,75,71.00,62,NaN,Added in October
91,11,Sonata Software,Bangalore,BTR QSP,Testing,2019-01-03,Sahana Y S,9071257174,sahanays315@gmail.com,BE,ECE,2018.0,70,61.00,61.7,NaN,Added in Sep

In [11]:
m1_qsp=mar1[mar1['Branch ']=='BTR QSP']

In [12]:
m2_qsp=mar3[mar3['Branch ']=='BTR QSP']

In [13]:
m_qsp=m1_qsp.append(m2_qsp,ignore_index=True)

In [14]:
a1_qsp=apr1[apr1['Branch']=='BTR QSP']

In [15]:
a2_qsp=apr5[apr5['Branch']=='BTR QSP']

In [16]:
f_qsp=feb1[feb1['Branch ']=='BTR QSP']

In [17]:
a_qsp=a1_qsp.append(a2_qsp,ignore_index=True)

In [18]:
m_qsp.rename(columns={'Candidate Name':'Name','Degree ':'Deg %'},inplace=True)
a_qsp.rename(columns={'Degree.1':'Deg %'},inplace=True)

In [19]:
j_qsp.rename(columns=lambda x: x.strip(),inplace=True)
m_qsp.rename(columns=lambda x: x.strip(),inplace=True)
f_qsp.rename(columns=lambda x: x.strip(),inplace=True)

In [20]:
j_qsp.columns

Index(['SL No', 'Company Name', 'Location', 'Branch', 'Skill', 'DOJ', 'Name',
       'Contact No', 'Email ID', 'Degree', 'Stream', 'YOP', '10th', '12th',
       'Deg %', 'Masters', 'Status'],
      dtype='object')

In [21]:
f_qsp.columns

Index(['SL No', 'Company Name', 'Location', 'Branch', 'Skill', 'DOJ', 'Name',
       'Contact No', 'Email ID', 'Degree', 'Stream', 'YOP', '10th', '12th',
       'Deg %', 'Masters', 'CTC', 'Status'],
      dtype='object')

In [22]:
m_qsp.columns

Index(['SL No', 'Company Name', 'Location', 'Branch', 'Skill', 'DOJ', 'Name',
       'Contact No', 'Email ID', 'Degree', 'Stream', 'YOP', '10th', '12th',
       'Deg %', 'Masters', 'CTC'],
      dtype='object')

In [23]:
a_qsp.columns

Index(['SL No', 'Company Name', 'Location', 'Branch', 'Skill', 'DOJ', 'Name',
       'Contact No', 'Email ID', 'Degree', 'Stream', 'YOP', '10th', '12th',
       'Deg %', 'Masters'],
      dtype='object')

In [24]:
Final_qsp=j_qsp.append([f_qsp,m_qsp,a_qsp],ignore_index=True)

In [26]:
Final_qsp['Name'].value_counts()

Kavya Rudrappa      2
Chandana K S        2
Harshitha R J       1
Chaitra B V         1
Praneeth Kumar M    1
                   ..
Sahana Y S          1
SANDYASHREE M       1
Swapna Latha N      1
Ashwini             1
Deep Anand          1
Name: Name, Length: 301, dtype: int64

In [27]:
Final_qsp[Final_qsp['Name']=='Chandana K S']

,10th,12th,Branch,CTC,Company Name,Contact No,DOJ,Deg %,Degree,Email ID,Location,Masters,Name,SL No,Skill,Status,Stream,YOP
9,84,77,BTR QSP,NaN,Eka Software,9620410296,2019-01-23,66.54,BE,chandanaks.leo@gmail.com,Bangalore,NaN,Chandana K S,169,Testing,NaN,ISE,2018
104,50,51,BTR QSP,NaN,Data Template,9844666784,2019-02-11,67,MCA,chandanachandu529@gmail.com,Bangalore,79.6,Chandana K S,358,Testing,NaN,CSE,2018

In [28]:
Final_qsp[Final_qsp['Name']=='Kavya Rudrappa']

,10th,12th,Branch,CTC,Company Name,Contact No,DOJ,Deg %,Degree,Email ID,Location,Masters,Name,SL No,Skill,Status,Stream,YOP
145,83,82,BTR QSP,2.2 LPA,Trigent Software Limited,"8296079243, 8904802947",2019-02-11,71,BE,kbhadrapur016@gmail.com,Bangalore,NaN,Kavya Rudrappa,802,Testing,NaN,ECE,2018
245,83,82,BTR QSP,NaN,Amdocs,8296079243 / 8904800000,2019-03-04,71,BE,kbhadrapur016@gmail.com,Bangalore,NaN,Kavya Rudrappa,1,Testing,NaN,ECE,2018

In [29]:
pd.set_option('display.max_rows',None)

In [30]:
Final_qsp['Contact No'].value_counts()

9611263999                 1
8548987542                 1
7829081494                 1
8971866270                 1
9964351135                 1
9663224993                 1
7349536349                 1
8217658532                 1
8824319401                 1
8762181496                 1
8792766635                 1
8951774381                 1
8762755824                 1
9986512561                 1
9036776056                 1
9741522616                 1
8050240185                 1
9482519704                 1
8296652949                 1
8105000635                 1
8296079243, 8904802947     1
9483050014                 1
7259207288                 1
9505138492                 1
8792679546                 1
8848516731                 1
9591568476                 1
9035322592                 1
8884894846                 1
7411699328                 1
9949098357                 1
9110296989 / 9341241856    1
8277557893                 1
8105833096                 1
9035827343                 1
9008918600                 1
7057141733                 1
8884859580                 1
8147284170                 1
9480716182                 1
9686895324                 1
9591550173                 1
7829695200                 1
9611601850                 1
8884582628                 1
9591704805                 1
9901562977                 1
9880980241                 1
9449018600                 1
8971009257                 1
9663472874                 1
7386138734                 1
8886797969                 1
9480995054                 1
9740663210                 1
7702047450                 1
9663465685                 1
9900398753                 1
97425171778147303424       1
9632241343                 1
9742993088                 1
9880772289                 1
9036459202                 1
7892251765                 1
8228088004                 1
8792448929                 1
8884164714                 1
7349783240                 1
7899385324                 1
9964437196                 1
7406296269                 1
9483243726                 1
8197221034,9663391087      1
9071257174                 1
9176038517                 1
9480543345                 1
8668143096                 1
7906181667                 1
9916129628                 1
9449722921                 1
8971539498                 1
9901431046                 1
8861748781                 1
9886309422                 1
7411169839                 1
8904920624                 1
9900806705                 1
9916208179                 1
8150885430                 1
8553979448                 1
7019618361                 1
9611828282                 1
9972170299                 1
9743592485                 1
9620733982                 1
6362164940                 1
8746997281,8317346342      1
9742967324                 1
7760462854                 1
8217366094                 1
7337650184                 1
7737412617                 1
9620268044                 1
9655673792/9791800000      1
8073161744                 1
9686460271                 1
8095389203                 1
8951608332,8762274340      1
8197847574                 1
7325060632                 1
9164547611                 1
9449548875                 1
8277766880                 1
8105630834                 1
9611914863                 1
9980075097                 1
8792279644                 1
81477417329108500480       1
8123804254                 1
8973535327                 1
9483875936                 1
9620391906                 1
8884730291                 1
8147650657                 1
9483969477                 1
8277159017                 1
9480242794                 1
8553021035                 1
9060709996                 1
9148758573                 1
8497885484                 1
9449245007                 1
9686355962                 1
7406596162                 1
9480600970                 1
7996612840                 1
8867140547                 1
7019736135                 1
8971298545                 1
8762625610                 1
8147687499                 1
8147225676                 1
9740008013                 1
9986124366                 1
9986017871                 1
8792138566 / 8729100000    1
9148832339                 1
8985503828                 1
8762285653                 1
8884363862                 1
7846069941                 1
9738326446                 1
8151851518                 1
9901203877                 1
8917698984                 1
8277766569                 1
9535450027                 1
8105887660                 1
9448689235                 1
8277715374                 1
9686067119                 1
9901606321                 1
7349108659                 1
8296668087                 1
9620410296                 1
9739961785                 1
6361511909                 1
9900848059                 1
9036560966                 1
7353005991                 1
8550012324                 1
9482712513                 1
9483317155                 1
7353589129                 1
9482286990                 1
9164002756                 1
7892409009                 1
8105504812                 1
9916979090                 1
7598869396                 1
9739651478                 1
9379380633                 1
9483629466                 1
8722649173                 1
8861403211                 1
9742043679,7204646613      1
9844666784                 1
9966323801                 1
9964213184                 1
9900987332                 1
8151003522                 1
9741734367                 1
9945091543                 1
7259765220                 1
7411578344                 1
7760090086                 1
9449286632                 1
8970257069                 1
7406826476                 1
9686930413                 1
9845281268                 1
8095036406                 1
9972704760                 1
8618888100                 1
8088450042                 1
9986677756                 1
8105810429                 1
9741581747                 1
9538317790                 1
9535390661                 1
9576676829                 1
8867203526                 1
9620925532                 1
9945769452                 1
9606266826                 1
9480974795                 1
9902540472                 1
9611608016                 1
7353996242                 1
9036482004                 1
9552845216                 1
7760177623                 1
9544276907                 1
9740251835                 1
8147799514                 1
8197675609                 1
9945482115                 1
8105454463                 1
7259723340                 1
8088430330                 1
8095935045                 1
9739597595                 1
8971869824/8660500000      1
8296079243 / 8904800000    1
9538385338                 1
9606719401                 1
8884888517                 1
8618607017                 1
8951716306                 1
8867184426                 1
9840971374                 1
7259623656                 1
8722346970                 1
8147539249                 1
9480492408                 1
7899904955                 1
7899503895                 1
7337725750                 1
8722783337                 1
7022108699                 1
8546961378                 1
9481517664                 1
6360566523                 1
8050620156                 1
9844459774                 1
9611589337                 1
9481755394                 1
9703527684                 1
9538414344                 1
9686332683                 1
9738303759                 1
9588628753                 1
9599932178                 1
8762690323                 1
9972275509                 1
8296983982                 1
9449891966                 1
8762355550                 1
9513153376                 1
8792519009                 1
8747946606                 1
9742086441,9742086441      1
9786551142                 1
8971884380                 1
7539953325                 1
8762113020                 1
8548043121                 1
9739839399                 1
9844323189                 1
8250095883                 1
8050276728                 1
9620474233                 1
9731095945                 1
8105443128                 1
8792572765                 1
8147977304                 1
8951382364                 1
9448474543                 1
7892736318                 1
9959567956                 1
9481176896                 1
7019152708                 1
8861395176                 1
8867906889                 1
9008170127                 1
7741013323                 1
8867638605                 1
7848893235                 1
9110296989                 1
9972712277                 1
8792077202                 1
9632515929                 1
9844466180                 1
Name: Contact No, dtype: int64

In [31]:
round(100*Final_qsp.isna().sum()/len(Final_qsp),2)

10th             0.00
12th             0.00
Branch           0.00
CTC             90.76
Company Name     0.00
Contact No       0.00
DOJ              0.00
Deg %            0.66
Degree           0.00
Email ID         0.00
Location         0.00
Masters         93.40
Name             0.00
SL No            0.00
Skill            0.00
Status          99.01
Stream           0.00
YOP              0.33
dtype: float64

In [32]:
Final_qsp.drop(['CTC','Status'],axis=1,inplace=True)

In [33]:
qsp=pd.read_csv('BTR QSp1 data.csv')

In [34]:
qsp.columns

Index(['Nid', 'Name', 'Gender', 'Date of Birth', 'Fresher/Experience',
       '10th Board', '10th Aggregate', '10th Year of Pass out', '12th Board',
       '12th Course Type', '12th/Diploma/ITI Year of Pass out',
       '12th/Diploma/ITI-Aggregate', 'Diploma Course Type', 'Diploma College',
       'Other(Diploma College)', 'Diploma Stream', 'Other(Diploma Stream)',
       'Diploma University', 'Other(Diploma University)', 'Degree',
       'Degree Course Type', 'Degree Year of Pass out', 'Degree College Name',
       'Other(Degree College)', 'Degree University',
       'Degree University Registration No', 'Degree Aggregate',
       'Stream in Degree', 'Other(Degree Stream)',
       'Have you done your Master's Degree?', 'Master's Degree',
       'Master's Degree Course Type', 'Other(Master's degree)',
       'Master's Degree Year of Pass out', 'Master Degree Aggregate',
       'Master Degree College Name', 'Other(Master's College)',
       'Master's Degree Stream', 'Other(Master's Stream)',
       'Master's Degree University',
       'Master's Degree University Registration No', 'Branch Enquired',
       'Certifications', 'Course(s)', 'Do You Have Pan Card?',
       'Do You Have Passport?', 'Other(certifications)', 'Ready to Relocate',
       'Already Resigned', 'Currently Are You Working',
       'Do You Have Past Work Experience?', 'Highest Degree',
       'How Many Months of Gap You Have?', 'Looking For a Job Change',
       'Notice Period', 'Other(Highest Degree)',
       'Current/ Previous Company Name', 'Current/ Previous CTC',
       'Current/ Previous Job Profiles', 'Balance_Fees',
       'Other(Degree University)', 'Other(Degree)',
       'Other(Master's University)', 'Other(preferred location)',
       'Target_fees', 'Preferred Location', 'Photo', 'UID',
       'Do You Have Aadhar Card?', 'Native', 'State', 'City',
       'Did You Fail and then clear the subject in Degree',
       'Did You Fail and then clear the subject in Master Degree',
       'Have any existing backlogs in Degree?',
       'Have any existing backlogs in Master's Degree?',
       'Have you got year gap in Degree?',
       'Have you got year gap in Master Degree?', 'Batch', 'nid_incubation',
       'Payment Print/Display', 'Payment comments', 'Post date'],
      dtype='object')

In [35]:
Final_qsp.columns

Index(['10th', '12th', 'Branch', 'Company Name', 'Contact No', 'DOJ', 'Deg %',
       'Degree', 'Email ID', 'Location', 'Masters', 'Name', 'SL No', 'Skill',
       'Stream', 'YOP'],
      dtype='object')

In [36]:
# qsp.where(qsp.values==Final_qsp.values).notna()

In [41]:
qsp['Name'].isin(Final_qsp['Name']).value_counts()

False    3780
True      219
Name: Name, dtype: int64

In [23]:
n = int(input())
student_marks = {}
for i in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
student_marks[query_name]

SyntaxError: invalid syntax (<ipython-input-23-72e6ce61451c>, line 8)

In [11]:
2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh

''

In [44]:
res=0
for j in student_marks[query_name]:
    res+=j/3

In [45]:
print(res)

26.5

In [48]:
t=1,2
print(hash(t))

3713081631934410656

In [24]:
s='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
a=0
b=4
for i in range(len(s)//4+1):
    print(s[a:b])
    a+=4
    b+=4

ABCD
EFGH
IJKL
MNOP
QRST
UVWX
YZ