1) program to connect with  database and print its version

In [1]:
from mysql import connector
try:
    con=connector.connect(host='localhost',database='db',username='root',password='root')
    cursor=con.cursor()
    cursor.execute("SELECT VERSION()")
    data = cursor.fetchone()
    print ("Database version : %s " % data)
except connector.Error as e:
    print(e)
finally:
    con.close()

Database version : 8.0.19

In [2]:
try:
    con=connector.connect(host='localhost',database='db',username='root',password='root')
    print (con.get_server_info())
except connector.Error as e:
    print(e)
finally:
    con.close()

8.0.19

2)program to create employees table in the database

5)program to insert multiple rows in employees table by executemany() method

10)program to select all employees info by using fetchall() method

In [3]:
try:
    con=connector.connect(host='localhost',database='db',username='root',password='root')
    cursor = con.cursor()
    cursor.execute('create table employees(eID int primary key,ename varchar(50),esal double(10,2))')
    print('Table Created')
    query='insert into employees(eID,ename,esal) values(%s,%s,%s)'
    data=[(1,'jan',100000.00),
          (2,'rak',15000.00),
          (3,'swa',1000000.00)]
    cursor.executemany(query,data)
    con.commit()
    print('data stored in table')
    cursor.execute('select * from employees')
    elements=cursor.fetchall()
    for i in elements:
        print('Employee ID:',i[0])
        print('Employee Name:',i[1])
        print('Employee salary:',i[2])
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

Table Created
data stored in table
Employee ID: 1
Employee Name: jan
Employee salary: 100000.0
Employee ID: 2
Employee Name: rak
Employee salary: 15000.0
Employee ID: 3
Employee Name: swa
Employee salary: 1000000.0

4)program to insert a single row in employees table

In [4]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    cursor.execute("insert into employees values(4,'poopoo',15000.00)")
    con.commit()
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

6)program to insert multiple rows in employees table with dynamic input from keyboard

In [5]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    eID,ename,esal=input("enter the data").split()
    eID=int(eID)
    esal=float(esal)
    query="insert into employees values(%d,'%s',%f)"
    cursor.execute(query %(eID,ename,esal))
    con.commit()
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

enter the data5 mand 50000

7)program to update employees salaries with increment for the certain range  with dynamic input

In [6]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    increment=float(input("Enter Increment Salary:"))
    salrange=float(input("Enter Salary Range:"))
    sql="update employees set esal=esal+%f where esal<%f"
    cursor.execute(sql %(increment,salrange))
    con.commit()
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

Enter Increment Salary:5000
Enter Salary Range:20000

8)program to delete employees whose salary greater than provided salary as dynamic input

In [7]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    salrange=float(input("Enter Salary Range:"))
    sql="delete from employees where esal>%f"
    cursor.execute(sql %(salrange))
    con.commit()
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

Enter Salary Range:50000

9)program to select all employees info by using fetchone() method

In [8]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    cursor.execute("select * from employees")
    row=cursor.fetchone()
    while row is not None:
        print(row)
        row=cursor.fetchone()
        
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

(2, 'rak', 20000.0)
(4, 'poopoo', 20000.0)
(5, 'mand', 50000.0)

11)program to select all employees info by using fetchmany() method , required number of rows provided as dynamic input

In [9]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    cursor.execute("select * from employees")
    n=int(input("Enter the number of required rows:"))
    row=cursor.fetchmany(n)  
    print(row)
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()

Enter the number of required rows:3
[(2, 'rak', 20000.0), (4, 'poopoo', 20000.0), (5, 'mand', 50000.0)]

3)program to drop employess table from database

In [10]:
try:
    con=connector.connect(host="localhost",database="db",user="root",password="root")
    cursor=con.cursor()
    cursor.execute("drop table employees")
    con.commit()
except connector.Error as e:
    print(e)
finally:
    con.close()
    cursor.close()