In [66]:
import mysql.connector

## 1
    1) program to connect with  database and print its version

In [67]:
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='mydb',
        user='root',
        password='root')
    if conn.is_connected():
        print(conn.get_server_info())
    
except mysql.connector.Error as e:
    print(e)
    
finally:
    if conn:
        conn.close()

8.0.19

## 2
    2)program to create employees table in the database

In [68]:
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='emp',
        user='root',
        password='root')
    cursor = conn.cursor()
    cursor.execute('create table empdata(ename varchar(25), empid int(10) primary key, empsal double(6,2) )')
    conn.commit()

except mysql.connector.Error as e:
    print(e)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

1050 (42S01): Table 'empdata' already exists

## 3
    3)program to drop employess table from database

In [69]:
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='emp',
        user='root',
        password='root')
    cursor = conn.cursor()
    cursor.execute('drop table empdata')
    conn.commit()

except mysql.connector.Error as e:
    print(e)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

## 4
    4)program to insert a single row in employees table

In [70]:
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='emp',
        user='root',
        password='root')
    cursor = conn.cursor()
    cursor.execute('create table empdata(ename varchar(25), empid int(10) primary key, empsal double(6,2) )')
    cursor.execute("insert into empdata values('ns', 1234, 5000 )")
    conn.commit()

except mysql.connector.Error as e:
    print(e)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

## 5
    5)program to insert multiple rows in employees table by executemany() method

In [71]:
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='emp',
        user='root',
        password='root')
    cursor = conn.cursor()
    cursor.execute('create table empdata(ename varchar(25), empid int(10) primary key, empsal double(6,2) )')
    sql = "insert into empdata(ename, empid, empsal) VALUES(%s, %s, %s)"
    records=[('ns1',123, 1000),
             ('jah',456, 2000),
             ('rak',789, 3000)]
    cursor.executemany(sql,records)
    conn.commit()

except mysql.connector.Error as e:
    print(e)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

1050 (42S01): Table 'empdata' already exists

## 6
    6)program to insert multiple rows in employees table with dynamic input from keyboard

In [72]:
try:
    conn = mysql.connector.connect(
        host='localhost',
        database='emp',
        user='root',
        password='root')
    cursor = conn.cursor()
    cursor.execute('create table empdata(ename varchar(25), empid int(10) primary key, empsal double(6,2) )')
    sql = "insert into empdata(ename, empid, empsal) VALUES(%s, %s, %s)"
    records=[('ns',123, 1000),
             ('jah',456, 2000),
             ('rak',789, 3000)]
    cursor.executemany(sql,records)
    conn.commit()

except mysql.connector.Error as e:
    print(e)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

1050 (42S01): Table 'empdata' already exists

## 7
    7)program to update employees salaries with increment for the certain range  with dynamic input

In [73]:
try:
    conn=mysql.connector.connect(
        host="localhost",
        database="emp",
        user="root",
        password="root")
    cursor=conn.cursor()
    increment=float(input("Enter Increment Salary:"))
    salrange=float(input("Enter Salary Range:"))
    sql="update employees set esal=esal+%f where esal<%f"
    cursor.execute(sql %(increment,salrange))
    conn.commit()
except mysql.connector.Error as e:
    print(e)
finally:
    conn.close()
    cursor.close()

Enter Increment Salary:5000
Enter Salary Range:2000
1146 (42S02): Table 'emp.employees' doesn't exist

## 8
    8)program to delete employees whose salary greater than provided salary as dynamic input

In [74]:
try:
    conn=mysql.connector.connect(
        host="localhost",
        database="emp",
        user="root",
        password="root")
    cursor=conn.cursor()
    salrange=float(input("Enter Salary Range:"))
    sql="delete from employees where esal>%f"
    cursor.execute(sql %(salrange))
    conn.commit()
except mysql.connector.Error as e:
    print(e)
finally:
    conn.close()
    cursor.close()

Enter Salary Range:3000
1146 (42S02): Table 'emp.employees' doesn't exist

## 9
    9)program to select all employees info by using fetchone() method

In [75]:
try:
    conn=mysql.connector.connect(
        host="localhost",
        database="emp",
        user="root",
        password="root")
    cursor=conn.cursor()
    cursor.execute("select * from empdata")
    row=cursor.fetchone()
    while row is not None:
        print(row)
        row=cursor.fetchone()
        
except mysql.connector.Error as e:
    print(e)
finally:
    conn.close()
    cursor.close()

('ns', 1234, 5000.0)

## 10
    10)program to select all employees info by using fetchall() method

In [76]:
try:
    conn=mysql.connector.connect(
        host="localhost",
        database="emp",
        user="root",
        password="root")
    cursor=conn.cursor()
    cursor.execute("select * from empdata")
    row=cursor.fetchall()
    for i in row:
        print(i[0])
        print(i[1])
        
except mysql.connector.Error as e:
    print(e)
finally:
    conn.close()
    cursor.close()

ns
1234

## 11
    11)program to select all employees info by using fetchmany() method , required number of rows provided as dynamic input

In [77]:
try:
    conn=mysql.connector.connect(
        host="localhost",
        database="emp",
        user="root",
        password="root")
    cursor=conn.cursor()
    cursor.execute("select * from empdata")
    n=int(input("Enter the number of required rows:"))
    row=cursor.fetchmany(n)  
    print(row)
except mysql.connector.Error as e:
    print(e)
finally:
    conn.close()
    cursor.close()

Enter the number of required rows:2
[('ns', 1234, 5000.0)]